#navigation-bar{
    background-color: black;
    color: white;
    height: 75px;
    padding: 5px;
    padding-top: 10px;
    letter-spacing: 5px;
}



body{
    background-color: rgb(249, 247, 247);
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.car {
    height: 350px;
    width: 350px;
    margin: 20px;
    border: 1px ;
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(219, 226, 239);
    text-align: center;
  }

.car img{
    width: 100%;
    height: auto;
    border-radius: 5px;

}
   
input{
    background-color: rgb(17, 45, 78);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

/* footer */

.footer{
    text-align: center;
    color: white;
    padding: auto;
    background-color: black;
    font-size: 20px;
    margin-top: 50px;
  }
  li{
    display: inline-block;
    padding: 30px;
  }
  a{
    color: white;
  }
